/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #08055ab7;
  --accent-color: #ff0070;
  --h-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --font-family: 'IBM Plex mono', sans-serif;
  --font-weight: 700;
  --font-style: bold;
  --line-height: 23.4px; 
  --litle-font-weight: 400;
  --litle-font-style: regular;
  --basic-font-size: 18px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
